@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "kumbh sans", sans-serif;
}
main {
   background-color: hsl(185, 75%, 39%);
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: url(/assets/bg-pattern-main.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.card {
   border-radius: 15px;
   background-color: white;
   max-width: 350px;
   width: 90%;
   position: relative;
   text-align: center;
}
header {
   position: relative;
}
.header-img {
   border-radius: 15px 15px 0 0;
}
.user-photo {
   border: 8px solid white;
   border-radius: 50%;
   position: absolute;
   left: calc((350px - 108px) /2);
   top: 85px;
}
.profile-info {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 24px;
   margin-top: calc(16px + (108px / 2));
}
.user-text h2 {
   line-height: 125%;
   font-size: 18px;
   margin-bottom: 8px;
}
.user-text h2 span {
   font-weight: normal;
}
.user-text p {
   font-size: 14px;
   line-height: 125%;

}
.user-stats {
   width: 350px;
   border-top: 1px solid #d3d2d2;
   display: flex;
   gap: 56px;
   justify-content: space-between;
   align-items: center;
   padding: 24px 30px;
}
.user-stats h3 {
   margin-bottom: 8px;
   line-height: 125%;
   font-size: 18px;
}
.user-stats p {
   letter-spacing: 2px;
   line-height: 125%;
   font-size: 12px;
}