@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "kumbh sans", sans-serif;
   line-height: 125%;
   font-weight: 400;
}
main {
   background-color: hsl(185, 75%, 39%);
   height: 100vh;
   width: 100%;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}
.circle-top {
   position: absolute;
   width: 978px;
   height: 976px;
   top: -484px;
   left: -289px;
   transform: rotate(135);
}
.circle-bottom {
   position: absolute;
   width: 978px;
   height: 976px;
   bottom: -600px;
   right: -250px;
   transform: rotate(45);
}
.card {
   border-radius: 15px;
   overflow: hidden;
   background-color: white;
   width: min(326px, 350px);
   padding-bottom: 24px;
   display: flex;
   flex-direction: column;
   gap: 16px;
   z-index: 1;
}
.header-img {
   width: 100%;
   height: 144px;
}
.user-photo {
   width: 96px;
   height: 96px;
   border: 5px solid white;
   border-radius: 50%;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   margin-top: -53px;
}
.profile-info {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 24px;
}
.user-details {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 8px;
}
.username {
   font-size: 18px;
   font-weight: 700;
   color: #2E3349;
   text-transform: capitalize;
}
.userage {
   font-size: 18px;
   color: #6B7082;
}
.user-location {
   font-size: 14px;
   color: #6B7082;
   text-transform: capitalize;
}
.stats-container {
   width: 100%;
   border-top: 1px solid #d3d2d2;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 56px;
   padding-top: 24px;
}
.stat {
   display: flex;
   flex-direction: column;
   gap: 8px;
   text-align: center;
}
.stat-value {
   font-size: 18px;
   font-weight: 700;
   color: #2E3349;
}
.stat-title {
   color: #6B7082;
   font-size: 10px;
}
@media (max-width: 1295px) {
   .circle-top {
      top: -600px;
      left: -490px;
   }
   .circle-bottom {
      bottom: -700px;
      right: -400px;
   }
}
@media (max-width: 726px) {
   .circle-top {
      top: -680px;
      left: -600px;
   }
   .circle-bottom {
      bottom: -790px;
      right: -550px;
   }
}